body {
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 68, 255);
  }
  
  h1 {
    color: rgb(0, 0, 0);
  }
  
  #carroImagem {
    width: 210px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(100, 198, 255);
    border: 2px solid rgb(0, 0, 0);
  }
  
  button:hover {
    background-color: rgb(0, 195, 255);
  }
  
  #status {
    color: rgb(0, 0, 0);
  }
  
  #velocidade {
    color: rgb(0, 0, 0);
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  input, button {
    margin: 5px;
    padding: 8px;
  }
  
  p {
    margin-top: 10px;
    font-weight: bold;
  }
  #carroEsportivoImagem {
    width: 210px;
    margin-bottom: 10px;
    

  }
  #caminhaoImagem {
    width: 210px;
    margin-bottom: 10px;
  }
  
